.login-from{
    width: 800px;
    height: 300px;
    background-color: coral;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}
.login-from h2{
    text-align: center;
    padding-top: 25px;
    color: white;
    font-weight: 700;
    margin-bottom: 25px;
}
.login-manage{
    margin-top: 150px;
}

.login-manage input{
    
    display: block;
    margin-left: 200px;
    margin-bottom: 10px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid lightslategray;
   
    
   
    
}
.submit-btn{
    cursor: pointer;
}
