.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 250px;
   background-color: rgb(56, 56, 56);
    color: rgb(190, 201, 211);
    
   
}
.footer-1{
    width: 350px;
  
}
.footer-1 p{
    margin-right: 80px;
}
.footer-2 p{
    margin-right: 65px;
}
.footer-3 p{
    margin-right: 85px;
}
.footer-4 p{
    margin-right: 105px;
}
.footer-2{
    width: 350px;
    
}
.footer-3{
    width: 350px;
    
}
.footer-4{
    width: 350px;
    
}
.footer-1 h3{
    margin-left: 70px;
    font-weight: 500;
}
.footer-2 h3{
    margin-left: 80px;
    font-weight: 500;
}
.footer-3 h3{
    margin-left: 90px;
    font-weight: 500;
}
.footer-4 h3{
    margin-left: 100px;
    font-weight: 500;
}
.flow{
    width: 100px;
    height: 2px;
    background-color: darkturquoise;
    margin-left: 120px;
}