.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 220px;
   background-color: rgb(56, 56, 56);
    color: rgb(190, 201, 211);
    padding-top: 10px;
    
   
}
.footer-1{
    width: 350px;
  
}
.footer-1 p{
   margin-left: 90px;
   margin-top: 4px;
}
.footer-2 p{
    margin-left: 90px;
    margin-top: 4px;
}
.footer-3 p{
    margin-left: 85px;
    margin-top: 4px;
}
.footer-4 p{
   margin-left: 80px;
   margin-top: 4px;
}
.footer-2{
    width: 350px;
    
}
.footer-3{
    width: 350px;
    
}
.footer-4{
    width: 350px;
    
}
.footer-1 h3{
    margin-left: 45px;
    font-weight: 500;
}
.footer-2 h3{
    margin-left: 40px;
    font-weight: 500;
}
.footer-3 h3{
    margin-left: 60px;
    font-weight: 500;
}
.footer-4 h3{
    margin-left: 60px;
    font-weight: 500;
}
.flow{
    width: 100px;
    height: 2px;
    background-color: darkturquoise;
    margin-left: 70px;
}